    body {font-family: sans-serif; background-color: beige}
                  
        h1 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}

        p {font-size:1.2em;font-style:italic;}

             .solaire{font-family: monospace;}

        .abyssknight{font-family: fantasy;}

        .emeraldharold{color:rgb(86, 81, 237);font-style: oblique;font-size:1.3em;
           
        }
          
        table,
        td {
            border: 2px solid rgb(236, 69, 69); padding: 20px 30px; background-color: rgba(153, 24, 24, 0.842)
}
        thead,
        tfoot {
            background-color:rgb(114, 93, 131);
            color:rgb(62, 54, 179);
    
   

}